<%= form_for(@output_survey) do |f| %>
  <% if @output_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@output_survey.errors.count, "error") %> prohibited this output_survey from being saved:</h2>

      <ul>
      <% @output_survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <%= f.label :use_collab_tool, '1. Benutzen Sie eine Colloboration/ Projektmanagement Plattform?'%>
    <%= f.select :use_collab_tool, { 'ja' => true, 'nein' => false, "" => nil },:selected => "" %>
  </fieldset>

  <fieldset>
    <%= f.label :use_one_of_collab_tools, '2. Nutzen Sie eine der folgenden Colloboration/ Projektmanagement Plattformen? (Mehrfachnennungen möglich)' %>

    <%= fields_for :use_one_of_collab_tools do |form| %>
      <%= check_box_tag "use_one_of_collab_tools[]", 'none' %>keine
      <%= check_box_tag "use_one_of_collab_tools[]", 'basecamp' %>BaseCamp
      <%= check_box_tag "use_one_of_collab_tools[]", 'jira' %>Jira/ Confluence
      <%= check_box_tag "use_one_of_collab_tools[]", 'assembla' %>Assembla
      <%= check_box_tag "use_one_of_collab_tools[]", 'wunderkit' %>Wunderkit
      <%= check_box_tag "use_one_of_collab_tools[]", 'MS' %>MS Outlook/ Exchange
    <% end %> 
  </fieldset>

  <fieldset>
    <%= f.label :using_another_collab_tool, '3. Ich benutze noch folgende Software:'%>
    <%= f.text_area :using_another_collab_tool %>
  </fieldset>

  <fieldset>
    <%= f.label :pleased_with_collab_tool, '4. Wie zufrieden sind Sie mit Ihrer/ Ihren Colloboration/ Projektmanagement Platt- form(en)?'%>
    <% OutputSurvey::Assessment.each do |assessment| %>
      <%= f.radio_button :pleased_with_collab_tool, assessment.second %><%= assessment.first %>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.label :using_one_of_tools, '5. Benutzen Sie eines der folgenden Tools?'%>
    <%= check_box_tag "using_one_of_tools[]",'gihub' %>GiHub
    <%= check_box_tag "using_one_of_tools[]", 'dropbox' %>DropBox
    <%= check_box_tag "using_one_of_tools[]", 'evernote' %>Evernote
    <%= check_box_tag "using_one_of_tools[]", 'googledrive' %>Google Drive
    <%= check_box_tag "using_one_of_tools[]", 'jira' %>Jira
  </fieldset>

  <fieldset>
    <%= f.label :desired_tool, '6. Welche Tools sollte One Spark Ihrer Meinung nach noch unterstützen?'%>
    <%= f.text_area :desired_tool %>
  </fieldset>

    <fieldset>
    <%= f.label :rate_onespark, '7. Wie bewerten Sie das Konzept und die bisherige Umsetzung von Onespark?'%>
    <% OutputSurvey::Rate.each do |assessment| %>
    <%= assessment.second %>
      <%= f.radio_button :rate_onespark, assessment.second %><%= assessment.first %>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.label :private_censure_onespark, '8. Was ist Ihr besonderer Kritikpunt an One Spark? (positiv oder negativ)'%>
    <%= f.text_area :private_censure_onespark %>
  </fieldset>

  <fieldset>
    <%= f.label :lack_in_own_pm, '9. Was fehlt Ihnen bei Ihrer Projektorganisation oder was sollte sich verbessern? (Platz für Anregungen zu One Spark)'%>
    <%= f.text_area :lack_in_own_pm %>
  </fieldset>

  <fieldset>
    <%= f.label :activity, '10. Beschreiben Sie Ihre Tätigkeit!'%>
    <% OutputSurvey::Activity.each do |activity| %>
      <%= f.radio_button :activity, activity.second %><%= activity.first %>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.label :age, '11. Wie alt sind Sie?'%>
    <%= f.text_field :age %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
